@import "src/styles/mixins/mixins";

.analyze-soil-consulting {
  @include sectionBoxStyle;

  .analyze-tabs {
    padding: 4px 44px 4px 57px;
    border-radius: 8px;
    background-color: #ebf8f5;
    margin: 0 auto;

    .analyze-tab {
      margin: 12px 53px 11px 0;
      font-family: iranyekan, serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4c4d4e;
    }

    .analyze-tab.activeTab {
      border-radius: 8px;
      background-color: #29bb89;
      color: white;
    }
  }

}