@import "src/styles/mixins/mixins";

@mixin link {

  a {
    color: #4c4d4e;
    text-decoration: none;

    &:hover, &:active {
      text-decoration: none;
    }
  }

}

.articles {
  font-family: iranyekan, serif;
  @include sectionBoxStyle;
  direction: rtl;

  .header {
    margin-bottom: 21px;
    font-family: IRANYekanFN;
    font-weight: 500;
    font-size: 16px;
    color: #4c4d4e;
  }

  .slides {
    margin-bottom: 15px;

    .image_wraper {
      width: 100%;
      height: 100%;

      .image {
        width: 100%;
        height: 100%;
        border-radius: 18px;
        box-shadow: 0px 4px 12px rgba(168, 169, 171, 0.4);
      }
    }
  }

  .categories {
    margin-bottom: 58px;

    .category_wraper {
      width: 100%;
      height: 144px;
      border-radius: 8px;
      padding: 4px;
      background: #fff;
      border: 0.5px solid #d7d8d9;

      .image {
        width: 100%;
        height: 86px;
        border-radius: 8px;
      }

      .name {
        font-family: IRANYekanFN;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        margin-top: 9px;
        color: #4c4d4e;
        direction: rtl;
        @include link;
      }
    }
  }

  .lastArticle {
    margin-bottom: 42px;
  }

  .popularArticles {
    margin-bottom: 42px;
  }

  .article {
    width: 100%;
    height: 303px;
    border-radius: 14px;
    padding: 8px;
    background: #fff;
    border: 0.5px solid #d7d8d9;
    @media screen and (max-width: 767px) {
      height: 204px;
      padding: 4px;
    }

    .image {
      width: 100%;
      height: 214px;
      border-radius: 12px;
      @media screen and (max-width: 767px) {
        height: 123px;
      }
    }

    .title-date-wraper {
      margin-top: 18px;

      .title {
        font-family: IRANYekanFN;
        font-weight: normal;
        font-size: 14px;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
        @include link;
      }

      .date {
        font-family: IRANYekanFN;
        font-weight: normal;
        font-size: 14px;
        color: #a8a9ab;
        text-align: left;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }
}
