@import "src/styles/mixins/mixins";

.favorites {
  font-family: iranyekan, serif;
  @include sectionBoxStyle;
  direction: rtl;
  min-height: 500px;
  .header {
    font-weight: 500;
    font-size: 16px;
    color: #4c4d4e;
    padding-bottom: 17px;
    margin-bottom: 32px;
    border-bottom: 0.3px solid #bfc0c2;
  }

  .favorite {
    border-bottom: 0.3px solid #bfc0c2;
    padding-bottom: 32px;
    padding-top: 32px;

    &:first-of-type {
      padding-top: 0px;
    }

    .image_wraper {
      width: 110px;
      height: 110px;
      border-radius: 12px;
      margin-left: 16px;
      padding: 13px;
      background: #fff;
      border: 0.3px solid #a8a9ab;

      .image {
        width: 100%;
        height: 85px;
      }
    }

    .name {
      font-weight: 500;
      font-size: 16px;
      color: #151617;
    }

    .price_txt {
      font-weight: 500;
      font-size: 16px;
      color: #6c6e70;
      margin-left: 11px;
    }

    .price {
      font-weight: 500;
      font-size: 14px;
      color: #29bb89;
      margin-left: 3px;
    }

    .price_unit {
      font-weight: normal;
      font-size: 12px;
      color: #151617;
    }

    .delete_btn {
      background: transparent;
      border: unset;
      font-weight: normal;
      font-size: 14px;
      color: #919294;
    }
  }
}
