@import "src/styles/mixins/mixins";

.add-green-house-box {
  @include sectionBoxStyle;
  padding: 24px 24px 41px 24px;
  font-family: iranyekan, serif;
  margin-bottom: 97px;
  direction: rtl;
  .multiselect{
    width: 100% !important;
  }
  @media (max-width: 767px) {
    padding: 14px 16px 24px 16px;
    margin-bottom: 72px !important;
    .row {
      margin: 0;
    }
  }

  .header {
    padding: 0;
    padding-bottom: 22px;
    border-bottom: 0.3px solid #bfc0c2;
    margin-bottom: 24px;
    @media (max-width: 767px) {
      padding-bottom: 13px;
      margin-bottom: 18px;
    }

    .txt {
      font-size: 16px;
      color: #151617;
    }
  }

  .controlled-input {
    padding: 16px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background: #f5f6f8;
    border: 1px solid #e7e9ee;
  }

  .controlled-input-label {
    font-size: 14px;
    color: #4c4d4e;
    margin-bottom: 12px;
  }

  .submit-btn {
    height: 56px;
    width: 180px;
    border-radius: 8px;
    background: #29bb89;
    padding: 16px;
    color: #fff;
    margin-top: 190px;
  }
}