@import "src/styles/mixins/mixins";

.weather {
  height: 460px;
  margin: 32px 0 0;
  padding: 40px 19px 20px 24px;
  border-radius: 20px;
  background-image: url("../../assets/icon/Weather.png");
  background-size: initial;
  font-family: iranyekan, serif;
  color: #fff;
  @include fontNormal;

  .weather-text {
    font-size: 14px;
  }

  .weather-title {
    font-size: 16px;
  }

  .weather-title-number {
    margin: 3px 2px 1px 0;
    font-family: iranyekan, serif;
    font-size: 18px;
    @include fontNormal;
    text-align: left;
    color: #fff;
  }
}