@import "src/styles/mixins/mixins";

.Profile {
  padding: 26px 24px 54px 24px;
  border-radius: 20px;
  background-color: #fff;
  @media (max-width: 767px) {
    margin-bottom: 54px !important;
    padding: 14px 16px 31px 14px;
    .row {
      margin: 0;
    }
  }
  .multiselect{
    width: 100% !important;
  }
  .border-bottom {
    padding-bottom: 17px;
    margin-bottom: 32px;
  }

  .edit-profile {
    margin-bottom: 34px;
    @media (max-width: 767px) {
      border-bottom: 0.3px solid #d7d8d9;
      padding-bottom: 16px;
      margin-bottom: 18px;

    }
  }

  .ProfileLink {
    font-size: 12px;
    color: #7fd2bc;
  }

  .profile-label-input {
    font-size: 14px;
    color: #4c4d4e;
    margin-bottom: 12px;
  }

  .profile-form-text-input {
    border-radius: 8px;
    background: #f5f6f8;
    border: 1px solid #eaecf1;
    width: 100%;
    padding: 8px;
    margin-bottom: 18px;
  }

  .profile-submit-button {
    border-radius: 8px;
    background: #29bb89;
    padding: 10px 35px;
    margin-top: 77px;

  }

  .changeProfileText {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #a8a9ab;

  }

  .profileAvatar {
    background-size: cover;
    background-repeat: no-repeat;
    width: 29px;
    height: 41px;
    img{
     width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .IconEdit {
    background-image: url("../assets/icon/Edit.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  .preview {
    width: 42px;
    height: 42px;
    border-radius: 8px;
  }

  .ProfileAvatar {
    width: 68px;
    height: 68px;
    border-radius: 8px;
    background: #e8e8e8;
    margin-left: 16px;
    @include pointerClass;
    @media (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 6px;
    }
  }

  .EditProfileText {
    margin-right: 11px;
    font-size: 14px;
    color: #a8a9ab;
  }
}