@import "src/styles/mixins/mixins";

.show-soil-consulting {
  border-radius: 20px;
  background-color: #fff;
  padding: 26px 24px 71px 24px;
  direction: rtl;
  min-height: 480px;
  @media (max-width: 767px) {
    padding: 14px 16px 64px 16px;
  }

  .header {
    padding-bottom: 17px;
    margin-bottom: 24px;
    @media (max-width: 767px) {
      padding-bottom: 13px;
      margin-bottom: 18px;
    }
  }

  .pointer {
    cursor: pointer;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
    row-gap: 10px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  .margin-top {
    margin-top: 30px;
    @media (max-width: 767px) {
      margin-top: 17px;
    }
  }

  .farm-title {
    font-size: 16px;
    color: #4c4d4e;
    margin-left: 13px;
  }

  .farm-area {
    font-size: 14px;
    color: #a8a9ab;
  }

  .back-home-link {
    font-size: 12px;
    color: #7fd2bc;
    margin-left: 3px;
  }

  .soil-consulting-req-text {
    font-size: 16px;
    color: #4c4d4e;
    margin-bottom: 21px;
    @media (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .consulting {
    height: 133px;
    border-radius: 16px;
    background: #f4f5f7;
    padding: 18px 20px 45px 20px;
    @media (max-width: 767px) {
      padding: 14px;
    }

    .consulting-description {
      font-size: 16px;
      color: #4c4d4e;
    }

    .label {
      font-size: 14px;
      color: #a8a9ab;
    }

    .status-date {
      font-size: 14px;
      color: #4c4d4e;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  .new-req-btn {
    width: 214px;
    height: 56px;
    border-radius: 8px;
    background: #29bb89;
    padding: 16px 10px;
    font-size: 16px;
    color: #fff;
    margin-top: 90px;
  }

}