
.PlantCounselingLink {
  font-weight: normal;
  font-size: 12px;
  color: #7fd2bc;
  cursor: pointer;
}

.PlantCounselingTitle {
  font-weight: 500;
  font-size: 16px;
  color: #4c4d4e;

}

.PlantCounselingListTitle {
  margin: 24px 0;
}

.PlantCounselingSubTitle {
  font-weight: normal;
  font-size: 12px;
  color: #b3afaf;
  background: transparent;
}

.PlantCounselingListBox {
  border-radius: 10px;
  background: #f5f6f8;
  border: 0.5px solid #eaecf1;
  padding: 16px 24px 28px 24px;
  margin: 16px 0;
  height: 150px;

  .PlantCounselingListBoxHeader {
    height: 42px;
    margin-bottom: 45px;
  }

  .PlantCounselingListDescription {
    font-weight: normal;
    font-size: 14px;
    color: #4c4d4e;
  }

  .PlantCounselingText {
    font-weight: normal;
    font-size: 12px;
    color: #a8a9ab;

  }

  .PlantCounselingvalue {
    font-weight: normal;
    font-size: 14px;
    color: #4C4D4E;
  }
}

.PlantCounselingNewRequest {
  color: #fff;
  border-radius: 8px;
  background: #29bb89;

}
