@import "../../mixins/mixins";

.login-page {
  background-color: #f5f6f8;

  .login-form-title {
    font-size: 18px;
    color: #151617;
    margin-bottom: 90px;
  }

  .label-input {
    font-size: 14px;
    text-align: right;
    color: #4c4d4e;

  }

  .login-form-box {
    padding-left: 172px;
  }

  .privacy {
    font-size: 12px;
    color: #4c4d4e;

    .privacy-text {
      color: #29bb89;
      cursor: pointer;
    }
  }
}
