@import "src/styles/mixins/mixins";
.show-service{
  font-family: iranyekan, serif;
  direction: rtl;
  @include sectionBoxStyle;
  padding: 32px 112px 123px 112px;
  @media (max-width: 767px){
    padding: 18px 16px 77px 16px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 49px;
  }
}
.selected-img{
  width: 448px;
  height: 448px;
  border-radius: 16px;
  background: #fff;
  border: 0.5px solid #a8a9ab;
  margin-bottom: 16px;
  padding: 58px 53px;
  img{
    border-radius: 16px;
    max-width: 100%;
    height: 100%;
  }
}
.product-images{
  gap: 15px;
  .product-image{
    width: 77px;
    height: 77px;
    cursor: pointer;
    border-radius: 14px;
    background: #fff;
    border: 0.5px solid #a8a9ab;
    padding: 10px;
    img{
      border-radius: 14px;
      max-width: 100%;
      height: 100%;
    }
  }
}
.at-mobile-product-image{
  width: 280px;
  height: 272px;
  border-radius: 14px;
  background: #fff;
  border: 0.3px solid #a8a9ab;
  padding: 27px 23px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    border-radius: 14px;
    max-width: 100%;
    height: 100%;
  }
}
.product-info{
  margin-right: 24px;
}
.breadcrumbs{
  font-size: 12px;
  color: #a8a9ab;
  margin-bottom: 22px;
  @media(max-width: 767px){
    margin-right: 16px;
    text-align: right;
    margin-bottom: 12px;
  }
}
.product-name{
  font-size: 22px;
  color: #151617;
  @media(max-width: 767px){
    font-size: 16px;
  }
}
.date{
  font-size: 14px;
  color: #a8a9ab;
  margin-bottom: 35px;
  @media(max-width: 767px){
    font-size: 12px;
    margin-bottom: 20px;
  }
}
.price{
  margin-bottom: 51px;
  @media (max-width: 767px){
    margin-top:10px;
    margin-bottom: 28px;
  }
  span:first-of-type{
    font-size: 16px;
    color: #6c6e70;
  }
  span:nth-child(2){
    font-size: 20px;
    color: #151617;
    margin-right: 11px;
  }
  span:last-of-type{
    font-size: 14px;
    color: #151617;
  }
}
.phone{
  margin-bottom: 50px;
  span:first-of-type{
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #4c4d4e;
  }
  span:last-of-type{
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #7fd2bc;
    margin-right: 21px;
  }
}
.call-info{
  width: 150px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #29bb89;
  font-size: 14px;
  color: #29bb89;
  margin-bottom: 50px;
  cursor: pointer;
  @media (max-width: 767px){
    margin-bottom: 26px;
  }
}
.description{
  span:first-of-type{
    font-size: 16px;
    color: #151617;
    margin-bottom: 13px;
  }
  span:last-of-type{
    font-size: 14px;
    color: #4c4d4e;
  }
}