@import "src/styles/mixins/mixins";

.flower-type-box {
  @include sectionBoxStyle;
  padding: 26px 24px 144px 24px;
  font-family: iranyekan, serif;
  direction: rtl;
  .multiselect{
    width: 100% !important;
  }
  @media (max-width: 767px) {
    padding: 14px 16px 69px 16px;
    margin-bottom: 37px !important;
    .row {
      margin: 0;
    }
  }

  .header {
    border-bottom: 0.3px solid #bfc0c2;
    padding: 0;
    padding-bottom: 12px;
    margin-bottom: 34px;
    font-size: 16px;
    color: #151617;
  }

  .controlled-input {
    padding: 16px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background: #f5f6f8;
    border: 1px solid #e7e9ee;
  }

  .controlled-input-label {
    font-size: 14px;
    color: #4c4d4e;
    margin-bottom: 12px;
  }

  .add-img-txt {
    font-size: 14px;
    color: #4c4d4e;
  }

  .add-img-light-txt {
    font-size: 12px;
    color: #a8a9ab;
  }

  .cameraIcon {
    //background-image: url("../../../assets/icon/Camera.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }

  .HerbalAdviceImageInput {
    width: 110px;
    height: 110px;
    border-radius: 16px;
    background: #f5f6f8;
    border: 1px solid #f3f3f3;

  }

  .iconAddPic {
    padding: 20px;
    border-radius: 16px;
    background: #f5f6f8;
    border: 1px solid #f3f3f3;

    .iconAddPicText {
      font-weight: normal;
      font-size: 14px;
      color: #a8a9ab;
      padding-top: 16px;

    }

  }

  .preview {
    width: 110px;
    height: 110px;
    border-radius: 8px;
    padding: 0 !important;
    @media (max-width:767px){
      width: 80px;
      height: 80px;
    }
    img{
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .submit-btn {
    height: 56px;
    width: 180px;
    border-radius: 8px;
    background: #29bb89;
    padding: 16px;
    color: #fff;
    margin-top: 60px;
  }

  .img-delete-btn {
    position: relative;
    background-color: #D27F85;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    width: 110px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -28px;
  }
}