@import "src/styles/mixins/mixins";

.last_conversation {
  @include pointerClass;
  padding: 0px 24px 0px 18px;

  .border-bottom {
    border-bottom: 0.3px solid #bfc0c2;
  }

  .last_conversation_avatar {
    height: 68px;
    width: 68px;
    border-radius: 12px;
    margin: 24px 0;
    background: #e8e8e8;
    img{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
  }

  .last_conversation_name {
    font-weight: 500;
    font-size: 14px;
    color: #4c4d4e;
  }

  .message {
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    color: #a8a9ab;
  }

  .time {
    font-weight: normal;
    font-size: 12px;
    color: #a8a9ab;
  }
}