.select_box {
  direction: rtl;
  border-radius: 20px;
  background: #fff;
  padding: 26px 43px 48px 43px;
  @media (max-width: 767px) {
    padding: 26px 16px 54px 16px;
  }

  .header {
    font-size: 18px;
    color: #151617;
    text-align: right;
    margin-bottom: 85px;
    border: unset;
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 45px;
    }
  }

  .services {
    gap: 24px;
    @media (max-width: 767px) {
      gap: 10px;
    }

    .box {
      border-radius: 12px;
      background: #fff;
      height: 200px;
      width: 200px;
      cursor: pointer;
      position: relative;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: all .3ms ease;
      @media (max-width: 767px) {
        height: 158px;
        width: 158px;
      }
      &:hover{
        border: 1px solid rgb(41 187 137 / 20%);
      }


    }
  }

  .later-btn {
    width: 110px;
    height: 40px;
    border-radius: 8px;
    border: 0.6px solid #a8a9ab;
    margin-top: 108px;
    cursor: pointer;
    font-size: 16px;
    color: #a8a9ab;
    @media (max-width: 767px) {
      margin-top: 54px;
    }

  }

}