//.banner{
//  background-image: url("../../assets/icon/BannerNew.png");
//  background-size: contain;
//  background-repeat:no-repeat ;
//  width: 600.1px;
//  height: 382.6px;
//}

//@media (max-width: 576px) {
//  .banner{
//    width: 336px;
//    height: 180.52px;
//    background-image: url("../../assets/icon/BannerNew.png");
//    background-size: contain;
//    background-repeat:no-repeat ;
//  }
//}
