.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #f5f6f8;
  z-index: 10;
}

dialog {
  position: fixed;
  top: 40px;
  left: 10%;
  width: 80%;
  z-index: 100;
  border: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(191, 192, 194, 0.16);

}

header {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  font-family: IRANYekan, serif;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
  color: #151617;

}

header h2 {
  margin: 0;
}

section {
  padding: 1rem;
}

menu {
  padding: 2rem;
  display: flex;
  margin: 0;
  top: 0;
  position: absolute;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.dialog-enter-active {
  transition: all 0.3s ease-out;
}

.dialog-leave-active {
  transition: all 0.3s ease-in;
}

.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}

/*@media (min-width: 768px) {*/
/*  dialog {*/
/*    left: calc(50% - 20rem);*/
/*    width: 40rem;*/
/*  }*/
/*}*/