@import "src/styles/mixins/mixins";

.conversation {
  direction: rtl;

  .header {
    font-weight: 500;
    font-size: 16px;
    color: #4c4d4e;
    padding: 0;
    padding-bottom: 17px;
    border-bottom: 0.3px solid #bfc0c2;
    text-align: right;
  }

  .avatar {
    height: 80px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 3px;
    img{
      border-radius: 12px;
      max-width: 100%;
      max-height: 100%;
    }
    .avatar-img{
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .currntRoomAvatar {
    background-color: #a8a9ab;
    width: 60px;
    height: 60px;
    margin-left: 17px;
    border-radius: 12px;
    @media (max-width: 767px) {
      margin-right: 32px;
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
  }

  .current_room_header {
    border-bottom: 0.3px solid #bfc0c2;
    padding-bottom: 24px;
    margin-bottom: 40px;
  }

  .name {
    font-weight: normal;
    font-size: 11px;
    color: #4c4d4e;
    text-align: center;
  }

  .new_conversation_create {
    @include sectionBoxStyle;
    @media screen and (max-width: 767px) {
      padding-left: 0px;
      .header {
        margin-left: 17px;
      }
    }
    margin-bottom: 24px;

    .contacts {
      padding-top: 22px;
    }
  }

  .last_conversations {
    padding: 0px;

    .header {
      padding-right: 24px;
    }
  }

  .chatBox {
    @include sectionBoxStyle;
    margin-bottom: 58px;
    padding: 24px 0px 32px 24px;
    @media screen and (max-width: 767px) {
      padding: 18px 16px 32px 16px;
    }

    .chatRoom {
      border-right: 0.3px solid #bfc0c2;
      padding: 0 24px 0 0;
    }
  }
}

.chat-home-onMobile {
  direction: rtl;
  padding: 24px 16px 40px 16px;
  height: 100vh;

  .current_room_header {
    border-bottom: 0.3px solid #bfc0c2;
    padding-bottom: 24px;
    margin-bottom: 40px;
  }

  .currntRoomAvatar {
    background-color: #a8a9ab;
    width: 60px;
    height: 60px;
    margin-left: 17px;
    border-radius: 12px;
    padding: 2px;
    @media (max-width: 767px) {
      margin-right: 32px;
    }
  }

  .name {
    font-weight: normal;
    font-size: 11px;
    color: #4c4d4e;
    text-align: center;
  }

  .overflow {
    height: 500px !important;
  }
}
