.LoginLayout {
  background-color: #f5f6f8 !important;
  position: relative;
  min-height: 100vh;

  header {
    background: inherit;
    padding: 0;
  }

  main {
    margin-bottom: 200px;
    min-height: 45vh;
    @media (max-width: 767px) {
      margin-bottom: 45px;
    }
  }
}