@import "../../mixins/mixins";

.LoginHeader {
  padding-top: 80px;
  margin-bottom: 108px;
  @media (max-width: 767px) {
    //margin-top: 34px;
    margin-bottom: 34px;
  }

  .LoginHeaderTitle {
    font-size: 30px;
    color: #4d7017;
    padding-top: 14px;
  }

  .LoginHeaderImage {
    background-image: url("../assets/icon/Jalizan.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 0 0 8px;
    width: 90px;
    height: 90px;
  }

  .LoginHeaderDescription {
    font-size: 16px;
    color: #4d7017;
  }
}